body{
    display: flex;
    justify-content:center;
    align-items: stretch;
    height: 100%;

}

div{
    width: 500px;
    height: 100%;
    background-color:darkblue;
    display: flex;
}
#second{
    background-color: darkgray;
}